<div class="modal" id="openform">
    <div class="modal-content">
        <form action="/" method="post">
            <label for="post_img">Post image here:</label>
            <input type="file" id="post_img" name="post_img">
            <br>
            <br>

            <label for="post_caption">Caption:</label>
            <br>
            <textarea name="post_caption" id="post_caption" cols="30" rows="20"></textarea>
            <div class="right">
                <input type="submit" value="submit" class="btn orange lighten-3 ">
            </div>
                
        </form>
    </div>

</div>